.dropdown {
    display: inline-block;
    margin: 0.1em 0em;
}

.dropdown-toggle {
    min-width: 12em;
}

.dropdown a:hover {
    cursor: pointer;
}

.tooltip-inner {
    text-align: left;
}

.name {
	display: inline-block;
	background-color: #f5f5f5;
	border: 1px solid #e0e0e0;
	border-radius: 0.25em;
	padding: .1em 0.25em;
	margin: 0.2em;
}